* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    background-color: grey;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.item1 {
    width: 200px;
    height: 200px;
    background-color: #254de4;
    margin: 10px;
    color: #fff;
}

.item2 {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 10px;
    color: #fff;
}

.item3 {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px;
    color: #fff;
}
.item4 {
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 10px;
    color: #fff;
    }