*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    background-color: grey;
height: 100vh;
display: flex;
}
.item{
    background-color: blue;
    width: 100px;
    height: 100px;
    color: white;
width: 50vw;
height: 50vh;
display: flex;
align-items: center;
justify-content: center;
}